<%- include('./partials/head') %>
<%- include('./partials/navigation', {current: '/piket_planner'}); %>

<main class="piket_planner">
  <section class="container">
    <article id="piket-planner">
      <h1>Plan uw piket.</h1>
      <form method="post" action="/plan_piket">
        <label for="eventDate">Vul de datum in</label>
        <input type="date" name="eventDate" id="eventDate">
        <label for="eventDescription">Selecteer de medewerker</label>
        <select name="eventDescription" id="eventDescription">
          <% person.forEach(person => { %>
            <option value="<%= person.name %>"><%= person.name %></option>
          <% }); %>
        </select>
        <label for="roleSelect">Selecteer de rol</label>
        <select name="roleSelect" id="roleSelect">
          <% role.forEach(role => { %>
            <option value="<%= role.id %>"><%= role.role %></option>
          <% }); %>
        </select>
        <button type="submit" id="addEventBtn">Plan piket</button>
      </form>
    </article>
    <article class="kalender-buttons">
      <div>
        <h2 class="month"></h2>
      </div>
      <div>
        <button class="prev"><</button>
        <button class="today">Vandaag</button>
        <button class="next">></button>
      </div>
      <div>
        <select name="kalender" id="kalender-select">
          <option value="piket planning">Eigen planning</option>
          <option value="totaal planning">Totaal planning</option>
          <option value="vakantie planning">Vakantie planning</option>
        </select>
      </div>
    </article>
    <article class="kalender">
      <div class="weekdagen">
        <div class="dag">Ma</div>
        <div class="dag">Di</div>
        <div class="dag">Wo</div>
        <div class="dag">Do</div>
        <div class="dag">Vr</div>
        <div class="dag">Za</div>
        <div class="dag">Zo</div>
      </div>
      <template id="day-template">
        <a href="#piket-planner">
          <div class="dag">
            <div class="datum"></div>
          </div>
        </a>
      </template>
      <template id="event-template">
        <div class="event">
          <div class="event-description"></div>
          <div class="piket-lijn"></div>
        </div>
      </template>
      <div class="dagen">
      </div>
      <div id="piket-overlay" class="piket-overlay">
        <a href="#" class="close-overlay"></a>
        <form method="post" action="/plan_piket">
          <label for="eventDate">Vul de datum in</label>
          <input type="date" name="eventDate" id="eventDate" required>
          <label for="eventDescription">Selecteer de medewerker</label>
          <select name="eventDescription" id="eventDescription" required>
            <% person.forEach(person => { %>
              <option value="<%= person.name %>"><%= person.name %></option>
            <% }); %>
          </select>
          <label for="roleSelect">Selecteer de rol</label>
          <select name="roleSelect" id="roleSelect" required>
            <option value="">Selecteer een rol</option>
            <% role.forEach(role => { %>
              <option value="<%= role.id %>"><%= role.role %></option>
            <% }); %>
          </select>
          <button type="submit" id="addEventBtn">Plan piket</button>
        </form>
      </div>
    </article>
  </section>
</main>

<%- include('./partials/foot') %>